<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean name="BasicActionBean" scope="prototype" class="action.BasicAction">
        <property name="userService" ref="userServiceImpl"></property>
    </bean>


    <bean name="productActionBean" scope="prototype" class="action.ProductAction">
        <property name="productService" ref="productServiceImpl"></property>
    </bean>
    <bean name="productServiceImpl" class="service.impl.ProductServiceImpl">
        <property name="productDAO" ref="productDAOImpl"></property>
        <property name="categoryDAO" ref="categoryDAOImpl"></property>
    </bean>
    <bean name="productDAOImpl" class="dao.impl.ProductDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="CategoryActionBean" scope="prototype" class="action.CategoryAction">
        <property name="categoryService" ref="categoryServiceImpl"></property>
    </bean>

    <bean name="categoryServiceImpl" class="service.impl.CategoryServiceImpl">
        <property name="categoryDAO" ref="categoryDAOImpl"></property>
    </bean>
    <bean name="categoryDAOImpl" class="dao.impl.CategoryDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="UserActionBean" class="action.UserAction">
        <property name="userService" ref="userServiceImpl"></property>
    </bean>
    <bean name="userServiceImpl" class="service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAOImpl"></property>
    </bean>
    <bean name="userDAOImpl" class="dao.impl.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="OrderActionBean" class="action.OrderAction">
        <property name="orderService" ref="orderServiceImpl"></property>
    </bean>
    <bean name="orderServiceImpl" class="service.impl.OrderServiceImpl">
        <property name="orderDAO" ref="orderDAOImpl"></property>
        <property name="orderItemDAO" ref="orderItemDAOImpl"></property>
    </bean>
    <bean name="orderDAOImpl" class="dao.impl.OrderDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="OrderItemActionBean" class="action.OrderItemActon">
        <property name="orderItemService" ref="orderItemServiceImpl"></property>
        <property name="productService" ref="productServiceImpl"></property>
    </bean>

    <bean name="orderItemServiceImpl" class="service.impl.OrderItemServiceImpl">
        <property name="orderItemDAO" ref="orderItemDAOImpl"></property>
        <property name="userDAO" ref="userDAOImpl"></property>
        <property name="productDAO" ref="productDAOImpl"></property>
        <property name="orderDAO" ref="orderDAOImpl"></property>
    </bean>
    <bean name="orderItemDAOImpl" class="dao.impl.OrderItemDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--映射文件 不写classpath不行-->
        <property name="mappingDirectoryLocations" >
            <value>WEB-INF/mappings</value>
        </property>
<!--        <property name="schemaUpdate" value="true"></property>-->

        <!--hibernate相关属性-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/how2java?characterEncoding=UTF-8"></property>
        <property name="user" value="root"></property>
        <property name="password" value="admin"></property>
    </bean>

    <!-- 配置事务管理器（声明式的事务） -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="delete*"  propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="update*"  propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="list*"  propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="manage*"  propagation="REQUIRED" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="serviceMethod" expression="execution(* service.*.*(..))"/>
        <aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice"/>
    </aop:config>
</beans>